################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/vendor.js
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/runtime.js.map
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/styles.js.map
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/runtime.js
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/polyfills.js.map
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/main.js
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/index.html
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/favicon.ico
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/polyfills.js
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/styles.js
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/main.js.map
/WebApiAndAngular/WebApiAndAngular/UI/Angular/.../wwwroot/vendor.js.map
/MyWebApi/.dockerignore
/MyWebApi/.vs/MyWebApi/v15
/MyWebApi/.vs/config/applicationhost.config
/MyWebApi/.vs/MyWebApi/DesignTimeBuild/.dtbcache
/MyWebApi/MyWebApi/wwwroot
